<mat-card *ngIf="recipeIngredients.length">
  <mat-card-header
    fxLayout.xs="column"
    fxLayoutAlign="space-between">
    <mat-card-title>
      <h2>Your recipe ingredients list</h2>
    </mat-card-title>
    <mat-form-field>
      <input
        matInput
        placeholder="Recipe name"
        name="recipeName"
        [(ngModel)]="recipeName">
    </mat-form-field>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let ingredient of recipeIngredients; let i = index">
        <mat-expansion-panel-header>
            <p matLine>{{ ingredient.name }} {{ ingredient.nutrients.calories }}cal for {{ ingredient.nutrients.totalWeight }}gr </p>
            <button mat-button (click)="removeIngredient(i)">
              <mat-icon matListIcon>delete</mat-icon>
            </button>
          </mat-expansion-panel-header>
        <app-nutrients-insight [nutrients]="ingredient.nutrients"></app-nutrients-insight>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions
    fxLayout="row"
    fxLayoutAlign="end">
      <button
        mat-button
        (click)="removeAllIngredients()">
        Remove all ingredients
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="saveRecipe()">
        Save recipe
      </button>
  </mat-card-actions>
</mat-card>
