<h2>List of recipes you created</h2>
<div *ngIf="recipes.length">
  <div
    fxFlex
    fxFlex.gt-sm="25"
    *ngFor="let recipe of recipes">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>{{ recipe.name }}</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
      <mat-list *ngFor="let ingredient of recipe.ingredients">
        <mat-list-item>{{ ingredient.name }} {{ ingredient.nutrients.calories }}cal for {{ ingredient.nutrients.totalWeight }}gr</mat-list-item>
      </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div
  *ngIf="!recipes.length"
  fxLayout="column">
  <div fxFlex="50">
    <p>You don't have any recipes yet</p>
    <a
      mat-button
      color="primary"
      routerLink="/">Create recipe</a>
  </div>
</div>
