<mat-card *ngIf="ingredients.length">
  <mat-card-header
    fxLayout.xs="column"
    fxLayoutAlign="space-between">
    <mat-card-title>
      <h2>Your recipe ingredients list</h2>
    </mat-card-title>
    <form [formGroup]="form">
      <mat-form-field>
        <input
          matInput
          placeholder="Recipe name"
          formControlName="name">
      </mat-form-field>
    </form>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="let ingredient of ingredients; let i = index"
        class="mat-elevation-z">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ ingredient.name }}
              </mat-panel-title>
              <mat-panel-description>
                  {{ ingredient.nutrients.calories }}cal for {{ ingredient.nutrients.totalWeight }}gr
              </mat-panel-description>
            <button
              mat-button
              (click)="removeIngredient(i, $event)"
              id="removeButton"              >
              <mat-icon matListIcon>delete</mat-icon>
            </button>
          </mat-expansion-panel-header>
        <app-ingredient-nutrients [nutrients]="ingredient.nutrients"></app-ingredient-nutrients>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
  <mat-card-actions
    fxLayout="row"
    fxLayoutAlign="end">
      <button
        mat-button
        id="removeAllButton"
        (click)="removeAllIngredients()">
        Remove all ingredients
      </button>
      <button
        mat-raised-button
        color="primary"
        id="saveRecipeButton"
        (click)="saveRecipe()">
        Save recipe
      </button>
  </mat-card-actions>
</mat-card>
