.bar-graph {
  font-weight: 700;
  text-align: center;
  padding: 20px;
  color: #fff; }
  .bar-graph--fat {
    background: #FF5722; }
  .bar-graph--protein {
    background: #FFC107; }
  .bar-graph--carbs {
    background: #3F51B5; }
