.bar-graph {
  font-weight: 700;
  text-align: center;
  padding: 20px;
  color: #fff;
  
  &--fat {
    background: #FF5722;      
  }
  
  &--protein { 
    background: #FFC107;      
  }
  
  &--carbs {
    background: #3F51B5;      
  }
}