<div fxFlex *ngIf="totalNutrients.length">
  <mat-card >
    <mat-card-header>
      <mat-card-title>
        <h2 class="mat-headline">Total nutrients</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h3 class="mat-subheading-1">Calories: {{ totalCalories }}cal</h3>
      <h3 class="mat-subheading-1">Total Weight: {{ totalWeight }}gr</h3>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between end">
        <div
          fxFlex
          class="u-text-center">
          <p class="mat-body-1">Total Nutrients</p>
          <p class="mat-body-1">Total Daily percentage</p>
        </div>

        <div
          fxFlex
          class="u-text-center"
          *ngFor="let nutrient of totalNutrients">
          <div *ngIf="nutrient.totalQuantity.quantity">
            <h3 class="mat-subheading-1">{{ nutrient.label }}</h3>
            <p class="mat-body-1">{{ nutrient.totalQuantity.quantity | number: '0.2-2' }}{{ nutrient.totalQuantity.unit }}</p>
            <p class="mat-body-1">{{ nutrient.totalDaily.quantity | number: '0.2-2' }}{{ nutrient.totalDaily.unit }}</p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
