<mat-expansion-panel class="mat-elevation-z">
  <mat-expansion-panel-header>
      <mat-panel-title>
          {{ ingredient.name }}
        </mat-panel-title>
        <mat-panel-description>
            {{ ingredient.nutrients.calories }}cal for {{ ingredient.nutrients.totalWeight }}gr
        </mat-panel-description>
      <button
        mat-button
        (click)="removeIngredient(index, $event)"
        id="{{ 'removeButton-' + index }}">
        <mat-icon matListIcon>delete</mat-icon>
      </button>
    </mat-expansion-panel-header>
  <app-ingredient-nutrients [nutrients]="ingredient.nutrients"></app-ingredient-nutrients>
</mat-expansion-panel>
