<div
  *ngIf="(recipes$ | async)?.length; else empty"
  fxLayout="row"
  fxLayoutGap="20px">
  <app-recipe-details
    fxFlex
    fxFlex.gt-sm="25"
    *ngFor="let recipe of recipes$ | async"
    [recipe]="recipe">
  </app-recipe-details>
</div>
<ng-template #empty>
  <div
    fxLayout="column"
    fxLayoutAlign="center center">
    <app-circle-icon
      [icon]="'/assets/images/recipes.svg'"
      [alt]="'recipes icon'">
    </app-circle-icon>
    <h2 class="mat-headline ma-2">
      No recipes yet
    </h2>
    <p>Do not forget to save recipes when you play with ingredients. Once saved, they will show here.</p>
    <a
      mat-raised-button
      routerLink="/">Create recipe</a>
  </div>
</ng-template>
