@import '~@angular/material/theming';

$recipify-app-primary: mat-palette($mat-light-green);
$recipify-app-accent:  mat-palette($mat-green, A200, A100, A400);

$recipify-app-warn:    mat-palette($mat-teal);

$recipify-app-theme: mat-light-theme($recipify-app-primary, $recipify-app-accent, $recipify-app-warn);

@include angular-material-theme($recipify-app-theme);
