@import "breakpoint-sass/stylesheets/breakpoint";
@import "../../../assets/scss/global/site-settings";

.nutrients-macro-chart {
  width: 100%;
  display: flex;

  flex-direction: column;

  @include breakpoint($medium) {
    flex-direction: row;    
  }
}